body{
    background: black;
    background-attachment: fixed;
}
#global{
    background: rgb(48,48,48);
    color: whitesmoke;
}
#logo{
    background: black;
}

#menu ul li:hover{
    background: black;
}

.button-autor{
    background: black;
}

#sidebar h4{
    color: gray;
}

#sidebar h4 span{
    background: black
    
}

footer{
    color: whitesmoke
}

.ui-accordion .ui-accordion-header
{
    border-color: black;
background: black;
color: #FFFFFF;
font-size: 18px;
}


