body{
    background: url('../img/hacker.jpg');
    background-attachment: fixed;
}
#global{
    background: rgb(48,48,48)
}

#logo{
    background: rgb(32,194,14);
}

#menu ul li:hover{
    background: rgb(32,194,14);
}

.button-autor{
    background: rgb(32,194,14);
}

#sidebar h4{
    color: black;
}

#sidebar h4 span{
    background: rgb(32,194,14)
    
}

footer{
    color: white;
}

.ui-accordion .ui-accordion-content{
    background: black;
    color: green;
    }

.ui-accordion .ui-accordion-header{
    border-color:black ;
    background: black;
    color: rgb(32,194,14);
    font-size: 18px;
}

#space-back h2{
    color: rgb(32,194,14);
}

